<h2 class="title"><%= l(:budget_title) %></h2>

<table>
  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:field_budget) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.budget, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_labor_budget) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.labor_budget, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_labor_budget_spent) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.spent, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_labor_budget_remaining) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.labor_budget_left, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      <%= l(:label_progress) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_percentage(budget.progress, :precision => 0) %>
    </td>
  </tr>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_budget_score) %>
    </td>
    <td class="calculation-column">
      <%= h budget.score %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_overruns) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.overruns, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? && budget.amount_missing_on_deliverables > 0%>
  <tr>
    <td>
      <%= l(:label_missing_on) %> <%= link_to('Deliverables:', :action => 'issues', :id => @project.id, :deliverable_id => :none) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.amount_missing_on_deliverables, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? && budget.amount_missing_on_issues > 0 %>
  <tr>
    <td>
      <%= l(:label_missing_on) %> <%= link_to('Issues:', 
          :controller => 'timelog',
          :action => 'details', 
          :project_id => @project.id,
          :sort_key => 'issue_id',
          :sort_order => 'asc') %>

    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.amount_missing_on_issues, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      <%= l(:label_next_due_date) %>
    </td>
    <td class="calculation-column">
      <%= h distance_of_time_in_words_to_now(budget.next_due_date) if budget.next_due_date %>
    </td>
  </tr>
  <tr>
    <td>
      <%= l(:label_completion) %>
    </td>
    <td class="calculation-column">
      <%= h distance_of_time_in_words_to_now(budget.final_due_date) if budget.final_due_date %>
    </td>
  </tr>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_potential_profit) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.profit, :precision => 0) %>
    </td>
  </tr>
  <% end %>
</table>
