<% css = cycle('odd','even') %>
      <tr id="deliverable-<%= deliverable.id %>" class="deliverable <%= css %>">
        <td class="actions">
          <%= toggle_arrows(deliverable.id) %>
        </td>

        <%= content_tag(:td, deliverable.id) %>
        <%= content_tag(:td, h(deliverable.score.to_i), :class => 'score') if allowed_management? %>
        <%= content_tag(:td, h(deliverable.subject), :class => 'subject') %>
        <%= content_tag(:td, number_to_currency(deliverable.labor_budget || 0.0, :precision => 0), :class => 'budget') if allowed_management? %>
        <%= content_tag(:td, number_to_currency(deliverable.spent, :precision => 0), :class => 'spent') if allowed_management? %>
        <%= content_tag(:td, format_date(deliverable.due), :class => 'due_date') %>
        <%= content_tag(:td, progress_bar(deliverable.progress, :width => '100%', :class => 'done_ratio')) %>
    </tr>
    <tr id="deliverable-details-<%= deliverable.id %>" class="deliverable deliverable-details <%= css %>" style="display:none;">
      <td class="deliverable-actions">
        <%= content_tag(:p,link_to("Edit", :action => 'edit', :id => @project.id, :deliverable_id => deliverable.id)) if allowed_management? -%>
        <%= content_tag(:p,link_to("Delete", { :action => 'destroy', :id => @project.id, :deliverable_id => deliverable.id}, :confirm => l(:text_are_you_sure))) if allowed_management? %>
        <%= content_tag(:p,link_to("Issues", :action => 'issues', :id => @project.id, :deliverable_id => deliverable.id)) -%>
        <% if allowed_management? && @project.versions.size > 0 %>
        <div>
          <% form_for :deliverable, deliverable, :url => { :action => "bulk_assign_issues",  :id => @project.id, :deliverable_id => deliverable.id} do |f| %>

          <%= select("version", "id", @project.versions.sort.collect {|v| [v.name, v.id ] }, { :prompt => '-- Version --' }) %><br />
          <%= submit_tag("Bulk Assign") %>
          <% end %>
        </div>
        <% end %>
      </td>

      <td colspan="2">
        <table class="progress-table">
          <%= row_with_double_data "Progress: ", number_to_percentage(deliverable.progress, :precision => 0), '' %>
          <% if allowed_management? %>

            <% if deliverable.hourly? %>
              <%= row_with_double_data "Hours Estimated: ", number_with_precision(deliverable.total_hours, 0), '' %>
            <% end %>
            <% if deliverable.fixed? %>
              <%= row_with_double_data "Fixed Amount: ", '', number_to_currency(deliverable.fixed_cost, :precision => 0)  %>
            <% end %>

            <% if deliverable.hours_used > 0 %>
            <%= row_with_double_data "Hours Used: ", number_with_precision(deliverable.hours_used,0), number_to_currency(deliverable.spent_by_members, :precision => 0)  %>

            <tr><td>&nbsp;</td></tr>

            <% deliverable.members_spent.each do |person| %>
              <%= row_with_double_data(h(person.user.name), person.hours.round, number_to_currency(person.spent, :precision => 0)) %>
            <% end %>
            <% end %>
        <% end %>
        </table>
      </td>

      <td colspan="3">
        <table class="financials">
        <%= row_with_data("Total Budget: ", number_to_currency(deliverable.budget, :precision => 0)) -%>
        <% if allowed_management? %>
        <% base_price_label = deliverable.hourly? ? "Labor: " : "Fixed Amount: " %>
        <%= row_with_data(base_price_label, number_to_currency(deliverable.labor_budget || 0.0, :precision => 0)) -%>
        <%= row_with_data("Overhead: ", number_or_percent(deliverable.overhead, deliverable.overhead_percent)) -%>
        <%= row_with_data("Materials: ", number_or_percent(deliverable.materials, deliverable.materials_percent)) -%>
        <%= row_with_data("Potential Profit: ", number_or_percent(deliverable.profit, deliverable.profit_percent)) -%>
        <% end %>
        </table>
      </td>

      <td colspan="2">
        <table class="issue-totals">
          <%= row_with_data(l(:label_issue_plural), deliverable.issues.size, 'issue-totals') -%>

          <% deliverable.issues_with_trackers.each do |tracker_name, count| %>
            <%= row_with_data(h(tracker_name), count,'issue-totals') -%>
          <% end %>
        </table>
      </td>
    </tr>
