<% css = cycle('odd','even') %>
      <tr id="deliverable-<%= deliverable.id %>" class="deliverable <%= css %>">
        <%= content_tag(:td, deliverable.id) %>
        <%= content_tag(:td, h(deliverable.score.to_i), :class => 'score') if allowed_management? %>
        <%= content_tag(:td, h(deliverable.subject), :class => 'subject') %>
        <%= content_tag(:td, number_to_currency(deliverable.labor_budget, :precision => 0), :class => 'budget') %>
        <%= content_tag(:td, number_to_currency(deliverable.spent, :precision => 0), :class => 'spent') if allowed_management? %>
        <%= content_tag(:td, format_date(deliverable.due), :class => 'due_date') %>
        <%= content_tag(:td, progress_bar(deliverable.progress, :width => '100%', :class => 'dont_ratio')) %>
        <%= content_tag(:td, link_to_function(image_tag("edit.png"), "$('deliverable-details-#{deliverable.id}').toggle();"), :class => 'actions') %>
    </tr>
    <tr id="deliverable-details-<%= deliverable.id %>" class="deliverable deliverable-details <%= css %>" style="display:none;">
      <td class="deliverable-actions">
        <%= content_tag(:p,link_to("Edit", :action => 'edit', :id => @project.id, :deliverable_id => deliverable.id)) if allowed_management? -%>
        <%= content_tag(:p,link_to("Delete", { :action => 'destroy', :id => @project.id, :deliverable_id => deliverable.id}, :confirm => l(:text_are_you_sure))) if allowed_management? %>
        <%= content_tag(:p,link_to("Issues", :action => 'issues', :id => @project.id, :deliverable_id => deliverable.id)) -%>
        <% if allowed_management? %>
        <div>
          <% form_for :deliverable, deliverable, :url => { :action => "bulk_assign_issues",  :id => @project.id, :deliverable_id => deliverable.id} do |f| %>

          <%= select("version", "id", @project.versions.sort.collect {|v| [v.name, v.id ] }, { :prompt => '-- Version --' }) %><br />
          <%= submit_tag("Bulk Assign") %>
          <% end %>
        </div>
        <% end %>
      </td>

      <td colspan="2">
        <%= paragraph_with_double_data "Progress: ", number_to_percentage(deliverable.progress, :precision => 0), '' %>
        <% if allowed_management? %>
        <%= paragraph_with_double_data "Hours Estimated: ", number_with_precision(deliverable.total_hours, 0), '' %>
        <%= paragraph_with_double_data "Hours Used: ", number_with_precision(deliverable.hours_used,0), number_to_currency(deliverable.spent, :precision => 0)  %>

        <p>&nbsp;</p>

        <% deliverable.members_spent.each do |person| %>
          <%= paragraph_with_double_data (h(person.user.name), person.hours.round, number_to_currency(person.spent, :precision => 0)) %>
        <% end %>
        <% end %>
      </td>

      <td colspan="3">
        <%= paragraph_with_data("Total Budget: ", number_to_currency(deliverable.budget, :precision => 0)) -%>
        <% if allowed_management? %>
        <%= paragraph_with_data("Labor: ", number_to_currency(deliverable.labor_budget, :precision => 0)) -%>
        <%= paragraph_with_data("Overhead: ", number_to_currency(deliverable.overhead, :precision => 0)) -%>
        <%= paragraph_with_data("Materials: ", number_to_currency(deliverable.materials, :precision => 0)) -%>
        <%= paragraph_with_data("Profit: ", number_to_currency(deliverable.profit, :precision => 0)) -%>
        <% end %>
      </td>

      <td colspan="2">
        <%= paragraph_with_data(l(:label_issue_plural), deliverable.issues.size) -%>

        <% deliverable.issues_with_trackers.each do |tracker_name, count| %>
          <%= paragraph_with_data(h(tracker_name), count) -%>
        <% end %>
      </td>
    </tr>
