      <tr id="deliverable-<%= deliverable.id %>" class="deliverable <%= css %>">
        <td class="actions">
          <%= toggle_arrows(deliverable.id) %>
        </td>

        <%= content_tag(:td, deliverable.id) %>
        <%= content_tag(:td, h(deliverable.score.to_i), :class => 'score') if allowed_management? %>
        <%= content_tag(:td, h(deliverable.subject), :class => 'subject') %>
        <%= content_tag(:td, number_to_currency(deliverable.budget || 0.0, :precision => 0), :class => 'budget') if allowed_management? %>
        <%= content_tag(:td, number_to_currency(deliverable.labor_budget || 0.0, :precision => 0), :class => 'budget') if allowed_management? %>
        <%= content_tag(:td, number_to_currency(deliverable.spent, :precision => 0), :class => 'spent') if allowed_management? %>
        <%= content_tag(:td, format_date(deliverable.due), :class => 'due_date') %>
        <%= content_tag(:td, progress_bar(deliverable.progress, :width => '100%', :class => 'done_ratio')) %>
        <%= Redmine::Hook.call_hook(:plugin_budget_view_deliverable_summary_row, { :deliverable => deliverable }) %>
    </tr>