<h2>New Deliverable</h2>

<% remote_form_for :deliverable, @deliverable, :url => {:controller => 'deliverables', :action => 'create', :id => @project },
                           :method => :post, :builder => TabularFormBuilder, :lang => current_language,
                           :html => {:multipart => true, :id => 'deliverable-form', :class => 'tabular'} do |f| %>
    <%= error_messages_for 'deliverable' %>
    <div class="box">
      <div class="splitcontentleft">
        <p><%= f.text_field :subject, :size => 65, :required => true %></p>
        <p><%= f.text_area :description, :required => true,
          :cols => 60,
          :rows => (@deliverable.description.blank? ? 10 : [[10, @deliverable.description.length / 50].max, 100].min),
          :accesskey => accesskey(:edit),
        :class => 'wiki-edit' %></p>
        <p><%= f.text_field :due_date, :size => 10 %><%= calendar_for('deliverable_due_date') %></p>
        <%# TODO: Sign off PM and Client %>
      </div>

      <div class="splitcontentright">
        <%# TODO: Need to update subtotals with observers %>
        <p>TODO: Fixed cost</p>
        <p><%= f.text_field :cost_per_hour, :size => 7 %></p>
        <%= observe_field('deliverable_cost_per_hour', :function => "updateBudget('deliverable_budget');") %>
        <p><%= f.text_field :total_hours, :size => 7 %></p>
        <%= observe_field('deliverable_total_hours', :function => "updateBudget('deliverable_budget');") %>
        <p><%= f.text_field :overhead, :size => 7 %></p>
        <%= observe_field('deliverable_overhead', :function => "updateBudget('deliverable_budget');") %>
        <p><%= f.text_field :materials, :size => 7 %></p>
        <%= observe_field('deliverable_materials', :function => "updateBudget('deliverable_budget');") %>
        <p><%= f.text_field :profit, :size => 7 %></p>
        <%= observe_field('deliverable_profit', :function => "updateBudget('deliverable_budget');") %>

        <p><%= f.text_field :budget, :size => 7, :disabled => true %></p>
      </div>

      <div style="clear:both;"> </div>

      

    </div>
    <%= submit_tag l(:button_create) %>
    <%= link_to_remote l(:label_preview), 
                       { :url => { :controller => 'deliverables', :action => 'preview', :id => @project },
                         :method => 'post',
                         :update => 'preview',
                         :with => "Form.serialize('deliverable-form')",
                         :complete => "Element.scrollTo('preview')"
                       }, :accesskey => accesskey(:preview) %>
<% end %>

<%# Same as `wikitoolbar_for 'deliverable_description'` but without the help link %>
<%= javascript_include_tag('jstoolbar/jstoolbar') %>
<%= javascript_include_tag("jstoolbar/lang/jstoolbar-#{current_language}") %>
<%= javascript_tag("var toolbar = new jsToolBar($('deliverable_description'));toolbar.draw();") %>


<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
<script type="text/javascript">

function toAmount(value) {
    var amount = value.replace(/[^1234567890.]/ig,'');
    if (amount) {
        return parseFloat(amount);
    } else {
        return 0;
    }
}

function calcBudget() {
    var perHour = toAmount($('deliverable_cost_per_hour').value);
    var hours = toAmount($('deliverable_total_hours').value);
    
    var variableCost = perHour * hours;

    if ($('deliverable_overhead').value.match('%')) {
        var overhead =  (toAmount($('deliverable_overhead').value) / 100) * variableCost;
    } else {
        var overhead =  toAmount($('deliverable_overhead').value);
    }

    if ($('deliverable_materials').value.match('%')) {
        var materials =  (toAmount($('deliverable_materials').value) / 100) * variableCost;
    } else {
        var materials =  toAmount($('deliverable_materials').value);
    }

    if ($('deliverable_profit').value.match('%')) {
        var profit =  (toAmount($('deliverable_profit').value) / 100) * variableCost;
    } else {
        var profit =  toAmount($('deliverable_profit').value);
    }

    return variableCost + overhead + materials + profit;

}

function updateBudget(field) {
    if ($(field)) {
        $(field).value = calcBudget();
    }
}
</script>
<% end %>
