<div id="budget-summary">
  <%= render :partial => 'budget', :object => @budget %>
</div>

<% if allowed_management? %>
<div id="new-deliverable" style="display:none;">
  <h2>New Deliverable</h2>
  <% remote_form_for :deliverable, @deliverable, :url => {:controller => 'deliverables', :action => 'create', :id => @project },
                     :method => :post, :builder => TabularFormBuilder, :lang => current_language,
                     :html => {:multipart => true, :id => 'deliverable-form', :class => 'tabular'} do |f| %>
    <%= render :partial => 'form', :locals => { :mode => :create, :f => f } %>
  <% end %>
</div>
<% end %>

<div id="budget-list">
<% if @deliverables.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'list', :locals => { :deliverables => @deliverables} %>
  <p class="pagination"><%= pagination_links_full @deliverable_pages, @deliverable_count %></p>
</div>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'deliverables/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "budget.css", :plugin => "budget_plugin", :media => "screen" %>
<% end %>
