<div id="budget-summary">
<h2>Budget</h1>

<p>
  Project Budget: <%= h number_to_currency(@budget.budget, :precision => 0) %>
</p>
<p>
  Budget Spent: <%= h number_to_currency(@budget.spent, :precision => 0) %>
</p>
<p>
  Budget Remaining: <%= h number_to_currency(@budget.left, :precision => 0) %>
</p>
<p>
  Progress: <%= h @budget.progress %>
</p>
<p>
  Budget Score: <%= h @budget.score %>
</p>
<p>
  Overruns: <%= h number_to_currency(@budget.overruns, :precision => 0) %>
</p>
<p>
  Next Due Date: <%= h distance_of_time_in_words_to_now(@budget.next_due_date) if @budget.next_due_date %>
</p>
<p>
  Completion: <%= h distance_of_time_in_words_to_now(@budget.final_due_date) if @budget.final_due_date %>
</p>
<p>
  Profit: <%= h number_to_currency(@budget.profit, :precision => 0) %>
</p>
</div>

<div id="new-deliverable" style="display:none;">
  <h2>New Deliverable</h2>
  <% remote_form_for :deliverable, @deliverable, :url => {:controller => 'deliverables', :action => 'create', :id => @project },
                     :method => :post, :builder => TabularFormBuilder, :lang => current_language,
                     :html => {:multipart => true, :id => 'deliverable-form', :class => 'tabular'} do |f| %>
    <%= render :partial => 'form', :locals => { :mode => :create, :f => f } %>
  <% end %>
</div>

<div id="budget-list">
<% if @deliverables.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'list', :locals => { :deliverables => @deliverables} %>
  <p class="pagination"><%# TODO: pagination_links_full @issue_pages, @issue_count %></p>
</div>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'deliverables/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "budget.css", :plugin => "budget_plugin", :media => "screen" %>
<% end %>
